@(busyInTime: Array[Array[String]], average_temperature: String, time_busy: String, average_temperature_ko: String, ko_list: Array[Array[String]], epicenter: String, mostAvailableParkings: Array[Array[String]]) @() @main("logs") {

    <head>
        <title>Analyses</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    </head>
    
    <body>

            <div>
                Temperature moyenne : @average_temperature
            </div>
            <div>
                Temps occupé : @time_busy
            </div>
            <div>
                Température moyenne lors de la panne : @average_temperature_ko
            </div>
            <div>
                Epicentre : @epicenter
            </div>
                <div class="col-xs-6">
                    <h2 class="sub-header">Drones sollicités</h2>
                      <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Intervalle</th>
                                            <th scope="col">Nombre de drones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for(i <- 0 until busyInTime.size) { 
                                          <tr>
                                            <th>@busyInTime(i)(0) @busyInTime(i)(1)</th>
                                            <td>@busyInTime(i)(2)</td>
                                          </tr>
                                          }
                                    </tbody>
                                </table>
                              </div>
                    </div>
                      <div class="col-xs-6">
                              <h2 class="sub-header">Pannes</h2>
                              <div class="table-responsive">
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th class="col-md-1">Id</th>
                                      <th class="col-md-2">Latitude</th>
                                      <th class="col-md-3">Longitude</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    @for(i <- 0 until ko_list.size) {
                                      <tr>
                                          <td class="col-md-1">@ko_list(i)(0)</td>
                                          <td class="col-md-2">@ko_list(i)(1)</td>
                                          <td class="col-md-3">@ko_list(i)(2)</td>
                                        </tr>
                                    }
                                  </tbody>
                                </table>
                              </div>
                          </div>

                          <div class="col-xs-6">
                            <h2 class="sub-header">Places de parking</h2>
                            <div class="table-responsive">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th class="col-md-1">Id</th>
                                    <th class="col-md-2">Latitude</th>
                                    <th class="col-md-3">Longitude</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  @for(i <- 0 until mostAvailableParkings.size) {
                                    <tr>
                                        <td class="col-md-1">@mostAvailableParkings(i)(0)</td>
                                        <td class="col-md-2">@mostAvailableParkings(i)(1)</td>
                                        <td class="col-md-3">@mostAvailableParkings(i)(2)</td>
                                      </tr>
                                  }
                                </tbody>
                              </table>
                            </div>
                        </div>
                    
       
    </body>
}
    