@(queue: Array[DroneLog]) @() @main("charts") {

<head>
    <title>Charts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['corechart', 'gauge']
        });
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawTime);
        google.charts.setOnLoadCallback(drawTemp);

        // get the size of the queue
        var nb_drones = @queue.size;

        var setDrones = new Set();   // create a set to store unique id
        var averageTemp = 0         // get the drones' average temperature
        var drones_busy = 0         // count the number of busy drones
    
        // get the first and the last drone update
        var start = "@queue(0).last_update".substr(11, 8).split(':');
        var end = "@queue(queue.size - 1).last_update".substr(11, 8).split(':');
        var droneFirstUpdate = (+start[0]) * 60 * 60 + (+start[1]) * 60 + (+start[2]);
        var droneLastUpdate = (+end[0]) * 60 * 60 + (+end[1]) * 60 + (+end[2]);

            
        var nb_seconds = droneLastUpdate - droneFirstUpdate; // get the duration (seconds)
        var rangeTime = Math.ceil(nb_seconds / 10);          // compute the range for the list
        var drones_list = new Array(rangeTime).fill(0);              // list of drones busy
        console.log(rangeTime);

        // iterate over the queue to retrieve information
        @for(index <- 0 until queue.size) {
            setDrones.add(@queue(index).id);
            averageTemp += parseFloat(@queue(index).temperature);
            
            @if(queue(index).is_busy == "true") {
                drones_busy += 1
                drones_list[Math.floor(@index / 100)] += 1
            }
        }
        
        var nb_unique_drones = setDrones.size;   // count the number of drones in the queue
        console.log(nb_unique_drones);

        // Display the average temperature
        function drawTemp() {

            averageTemp = Math.floor((averageTemp / nb_drones) * 100) / 100 
            var data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Temperature', averageTemp]
            ]);
            var options = {
                width: 400, height: 120,
                redFrom: 35, redTo: 45,
                yellowFrom: 30, yellowTo: 35,
                greenFrom: 15, greenTo: 30,
                minorTicks: 5, max: 45
            };

            var chart = new google.visualization.Gauge(document.getElementById('chartTemp'));
            chart.draw(data, options);
        }

        // Display if drones are currently available or not
        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Activity', 'Number'],
                ['Available', nb_drones - drones_busy],
                ['Busy', drones_busy]
            ]);

            var options = {
                title: 'Average drones\' activity'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
        
        // Display the availability of drones
        function drawTime() {
            
            var listTime = [['Time', 'Available', 'Busy']]
            for (i = 0; i < rangeTime; ++i) {
                var date  = new Date(null);
                date.setSeconds(i * 10);
                listTime.push([date.toISOString().substr(11,8),
                              nb_unique_drones - drones_list[i], drones_list[i]])
            }
            var data = google.visualization.arrayToDataTable(listTime);

            var options = {
                title: 'Drones activity',
                hAxis: {title: 'Time', titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('time'));

            chart.draw(data, options);
        }


    </script>
</head>

<body>
  <div id="chartTemp" style="width: 400px; height: 120px;"></div>
  <div id="piechart" style="width: 900px; height: 500px;"></div>
  <div id="time" style="width: 100%; height: 500px;"></div>

</body>

}
