@(drones: Array[Drone]) @() @main("Drones") {

<head>
    <title>Statut des drones</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>

    <div id="piechart"></div>

    <div id="columnchart_values"></div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Temperature</th>
                <th scope="col">Busy</th>
                <th scope="col">Last update</th>

            </tr>
        </thead>
        <tbody>
            @for(index
            <- 0 until drones.size) { <tr>
                <td>@drones(index).id</td>
                <td>@drones(index).latitude</td>
                <td>@drones(index).longitude</td>
                <td>@drones(index).temperature</td>
                <td>@drones(index).is_busy</td>
                <td>@drones(index).last_update</td>
                </tr>
                }

        </tbody>
    </table>

</body>

}
