@(queue: Array[DroneLog]) @() @main("logs") {

<head>
    <title>Drones</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Temperature</th>
                <th scope="col">Busy</th>
                <th scope="col">Last update</th>

            </tr>
        </thead>
        <tbody>
            @for(index <- 0 until queue.size) { 
              <tr>
                <th scope="row">@index</th>
                <td>@queue(index).id</td>
                <td>@queue(index).latitude</td>
                <td>@queue(index).longitude</td>
                <td>@queue(index).temperature</td>
                <td>@queue(index).is_busy</td>
                <td>@queue(index).last_update</td>
                </tr>
              }

        </tbody>
    </table>

</body>
}
